fastapi
uvicorn[standard]
prisma
python-dotenv
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
cloudinary
python-multipart
numpy
joblib
lightgbm
xgboost
apscheduler
redis
hiredis
qrcode[pil]
